html
  head
    title Margherita's test app
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    link(href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="/css/style.css")

    script.
        console.log('Up and running! 👋')

  body
    block content
