extends layout

block content
    h1 The number of users in the database is #{allUsers.length}
    script.
        console.log('To add new users use axios.post specifying a name and a birthday. Ex.: axios.post(\'/user\', {name: \'MyName\', birthday: \'04.04\'})')
        console.log('Please note that birthdays should be formatted this way: \'mm.dd\' Ex.: the 3rd of October is \'10.03\'')
        console.log('To delete a user make sure you know their ID and use axios.delete. Ex.: axios.delete(\'/user/1\') will delete the user with an ID of 1')
    each user in allUsers 
        h4 Name: #{user.name} - ID: #{user.id}